@model List<IPos.Controllers.BillItem>
<style type="text/css">
    .form-control {
        width: 120px;
    }

    .popover {
        max-width: 400px;
    }
</style>
<input type="hidden" id="hdBillCurrenr" value="@ViewBag.BillCurrent" />
<table class="table table-hover">
    @{ var stt = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="javascript:void(0)" onclick="DelBillItem(@ViewBag.BillCurrent,'@item.Product_Unit.Product_Code');"> <i class="fa fa-remove"></i> </a></td>
            <td>@stt</td>
            <td>@item.Product_Unit.Product_Code</td>
            <td>@item.Product.Name</td>
            <td><button><i class="fa fa-plus"></i></button> @item.Quantity <button><i class="fa fa-minus"></i></button></td>
            <td><a class="priceBillItem" productCode="@item.Product_Unit.Product_Code" data-placement="left" data-toggle="popover" data-title="" data-container="body" type="button" data-html="true" href="#">@item.Product_Unit.Sell_Price.GetValueOrDefault(0)</a></td>
            <td>@(item.Product_Unit.Sell_Price.GetValueOrDefault(0) * item.Quantity)</td>
        </tr>
        stt++;
    }
</table>
<div id="popover-content" class="hide">
    <div class="form-inline">
        <div class="form-group">
            <div>
                <span>Giá mới</span>
                <input type="text" placeholder="Name" class="form-control" maxlength="5">
            </div>
            <div>
                <span>Giảm giá</span>
                <input type="text" placeholder="Name" class="form-control" maxlength="5">
                <button type="submit" class="btn btn-primary">VND</button>
                <button type="submit" class="btn btn-primary">%</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function DelBillItem(billNumber, productCode) {
        $.ajax({
            url: '@Url.Action("DeleteBillItem","Exchange")',
            data: { billNumber: billNumber, productCode: productCode },
            type: 'GET',
            dataType: 'JSON',
            success: function (result) {
                if (result.success) {
                    GetBillDetail(billNumber);
                } else {
                    alert(result.msg);
                }
            },
            error: function () {
            }
        });
    }
    $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
            }
        });
    });
    $("[data-toggle=popover]").popover({
        html: true,
        content: function () {
            return $('#popover-content').html();
        },
    });
    $('.priceBillItem').on('inserted.bs.popover', function () {
        alert($(this).attr("productCode"));
    })
</script>