@model List<IPos.Controllers.BillItem>
<style type="text/css">
</style>
<input type="hidden" id="hdBillCurrenr" value="@ViewBag.BillCurrent" />
<input type="hidden" id="hdBillItemCurrent" />
<table class="table table-hover">
    @{ var stt = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="javascript:void(0)" onclick="DelBillItem(@ViewBag.BillCurrent,'@item.Product_Unit.Product_Code');"> <i class="fa fa-remove"></i> </a></td>
            <td>@stt</td>
            <td>@item.Product_Unit.Product_Code</td>
            <td>@item.Product.Name</td>
            <td><button><i class="fa fa-plus"></i></button> @item.Quantity <button><i class="fa fa-minus"></i></button></td>
            <td>
                <a class="priceBillItem" id="billItem-@item.Product_Unit.Product_Code" productCode=@item.Product_Unit.Product_Code price=@item.Product_Unit.Sell_Price discount="0" data-placement="left" data-toggle="popover" data-title="" data-container="body" type="button" data-html="true" href="javascript:void(0)">
                    @(item.Product_Unit.Sell_Price.GetValueOrDefault(0) - item.Discount )
                </a>
                <span class="discountBillItem"></span>
            </td>
            <td>@(item.Product_Unit.Sell_Price.GetValueOrDefault(0) * item.Quantity)</td>
        </tr>
        stt++;
    }
</table>
<script type="text/javascript">
    /*Function*/
    function DelBillItem(billNumber, productCode) {
        $.ajax({
            url: '@Url.Action("DeleteBillItem","Exchange")',
            data: { billNumber: billNumber, productCode: productCode },
            type: 'GET',
            dataType: 'JSON',
            success: function (result) {
                if (result.success) {
                    GetBillDetail(billNumber);
                } else {
                    alert(result.msg);
                }
            },
            error: function () {
            }
        });
    }
    function UpdateBillItem(billNumber, productCode, quantity, discount) {
        debugger;
        $.ajax({
            url: '@Url.Action("UpdateBillItem", "Exchange")',
            data: { billNumber: billNumber, productCode: productCode, quantity: quantity, discount: discount },
            type: 'GET',
            dataType: 'JSON',
            success: function (result) {
                if (!result.success) {
                    alert(result.msg);
                }
            },
            error: function () {
            }
        });
    }

    $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
            }
        });
    });
    $("[data-toggle=popover]").popover({
        html: true,
        content: function () {
            var html = "<table>"
            html += "<tr>"
            html += "<td>Giá mới</td>"
            html += "<td colspan='2'><input id='billItemNewPrice' type='text'></td>"
            html += "</tr>"
            html += "<tr>"
            html += "<td>Giảm giá</td>"
            html += "<td>"
            html += "<input id='billItemDiscount' type='text' style='width: 100px;'>"
            html += "</td>"
            html += "<td>"
            html += "<div class='btn-group'>"
            html += "<button class='btn btn-sm bg-olive btn-flat'>VND</button>"
            html += "<button class='btn btn-sm btn-flat'>%</button>"
            html += "</div>"
            html += "</td>"
            html += "</tr>"
            html += "</table>"
            return html;
        },
    });
    $('.priceBillItem').on('shown.bs.popover', function () {
        $('#hdBillItemCurrent').val($(this).attr("id"));

        var txtNewPricePopover = parseFloat($(this).attr("price"))- parseFloat($(this).attr("discount"));
        
        $('#billItemNewPrice').val(txtNewPricePopover);

        $('#billItemNewPrice').keyup(function () {
            var idBilItemInActive = $('#hdBillItemCurrent').val();
            var price = parseFloat($('#' + idBilItemInActive).attr("price"));
            var newPrice = parseFloat($('#billItemNewPrice').val());
            $('#' + idBilItemInActive).html(newPrice);
            $('#' + idBilItemInActive).attr("discount", newPrice);;
        });
        $('#billItemNewPrice').change(function () {
            //update session
            var idBilItemInActive = $('#hdBillItemCurrent').val();
            var billNumber = $('#hdBillCurrenr').val();
            var productCode = $('#' + idBilItemInActive).attr("productCode");
            var discount = parseFloat($('#' + idBilItemInActive).attr("discount"));
            UpdateBillItem(billNumber, productCode,1,discount);
        });
    });
</script>