@model List<IPos.Controllers.BillItem>
<style type="text/css">

</style>
<input type="hidden" id="hdBillCurrenr" value="@ViewBag.BillCurrent" />
<table class="table table-hover">
    @{ var stt = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="javascript:void(0)" onclick="DelBillItem(@ViewBag.BillCurrent,'@item.Product_Unit.Product_Code');"> <i class="fa fa-remove"></i> </a></td>
            <td>@stt</td>
            <td>@item.Product_Unit.Product_Code</td>
            <td>@item.Product.Name</td>
            <td><button><i class="fa fa-plus"></i></button> @item.Quantity <button><i class="fa fa-minus"></i></button></td>
            <td>
                <a class="priceBillItem" productCode=@item.Product_Unit.Product_Code price=@item.Product_Unit.Sell_Price discount=0 data-placement="left" data-toggle="popover" data-title="" data-container="body" type="button" data-html="true" href="javascript:void(0)">@item.Product_Unit.Sell_Price.GetValueOrDefault(0)</a>
                <span class="discountBillItem"></span>
            </td>
            <td>@(item.Product_Unit.Sell_Price.GetValueOrDefault(0) * item.Quantity)</td>
        </tr>
        stt++;
    }
</table>
@*<div id="popover-content" class="hide">
        <table>
            <tr>
                <td>Giá mới</td>
                <td colspan="2"><input id="billItemNewPrice" type="text"></td>
            </tr>
            <tr>
                <td>Giảm giá</td>
                <td>
                    <input id="billItemDiscount" type="text" style="width: 100px;">
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-sm bg-olive btn-flat">VND</button>
                        <button class="btn btn-sm btn-flat">%</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>*@
<script type="text/javascript">
    /*Function*/
    function DelBillItem(billNumber, productCode) {
        $.ajax({
            url: '@Url.Action("DeleteBillItem","Exchange")',
            data: { billNumber: billNumber, productCode: productCode },
            type: 'GET',
            dataType: 'JSON',
            success: function (result) {
                if (result.success) {
                    GetBillDetail(billNumber);
                } else {
                    alert(result.msg);
                }
            },
            error: function () {
            }
        });
    }
    $(document).on('click', function (e) {
        $('[data-toggle="popover"],[data-original-title]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false  // fix for BS 3.3.6
            }
        });
    });
    $("[data-toggle=popover]").popover({
        html: true,
        content: function () {
            var html = "<table>"
            html += "<tr>"
            html += "<td>Giá mới</td>"
            html += "<td colspan='2'><input id='billItemNewPrice' type='text'></td>"
            html += "</tr>"
            html += "<tr>"
            html += "<td>Giảm giá</td>"
            html += "<td>"
            html += "<input id='billItemDiscount' type='text' style='width: 100px;'>"
            html += "</td>"
            html += "<td>"
            html += "<div class='btn-group'>"
            html += "<button class='btn btn-sm bg-olive btn-flat'>VND</button>"
            html += "<button class='btn btn-sm btn-flat'>%</button>"
            html += "</div>"
            html += "</td>"
            html += "</tr>"
            html += "</table>"
            return html;
        },
    });
    $('.priceBillItem').on('shown.bs.popover', function () {
        var price = parseFloat($(this).attr("price"));
        var discount = parseFloat($(this).attr("discount"));
        var newPrice = price - discount;
        $('#billItemNewPrice').val(newPrice);
    })
    $('.priceBillItem').on('shown.bs.popover', function () {
        var price = parseFloat($(this).attr("price"));
        var discount = parseFloat($(this).attr("discount"));
        var newPrice = price - discount;
        $('#billItemNewPrice').val(newPrice);

        $('#billItemNewPrice').keyup(function () {
            alert($(this).attr("price"));
        })
    })
    ;
</script>