@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _tree = IPos.Controllers.ProductController.GetCategoryTree();
}

<style>
    .form-control {
        height:30px;
        padding:0px 10px;
        border-radius:3px;
    }

    td {
        padding:0px;
    }

    .custom-hover :hover {
        cursor: pointer;
    }

    .custom-image-icon {
        max-width:50px;
        border:1px solid grey;
        filter: opacity(50%);
    }

    hr {
        margin: 10px 0px;
    }

    .custom-pager {
        display:inline-block;
        width:20px;
        border-radius:4px;
        text-align:center;
        font-weight:bold;
    }
    .custom-pager :hover {
        cursor: pointer;
    }

</style>

<section id="content_wrapper" class="content-wrapper" style="padding-top:0px; margin-top:50px;">
    <section class="content-header">
        <h1>
            Hàng hóa
            <button class="btn btn-success pull-right" style="margin-left:10px;" onclick="export_product();"><i class="fa fa-sign-out"></i> Xuất file</button>
            <button class="btn btn-success pull-right" style="margin-left:10px;" onclick="new_product();"><i class="fa fa-plus"></i> Thêm mới</button>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-3">
                <table>
                    <tr>
                        <td>
                            <input class="form-control" placeholder="Tìm theo mã, tên hàng" id="product_search" onkeypress="return searchKeyPress(event);" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tìm theo nhóm hàng
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" id="product_category_all" name="product_search_category" value="-1" onchange="searchCategoryChange()" checked="checked" />
                            <label for="product_category_all">Toàn bộ</label>
                            <input id="product_search_category" style="display:none" value="-1" />
                        </td>
                    </tr>
                    @{
                        if (_tree.Count > 0)
                        {
                            foreach (var item in _tree)
                            {
                                string spaces = "";
                                for (int i = 0; i < int.Parse(item["LEVEL"]); i++)
                                {
                                    spaces += "&nbsp;&nbsp;&nbsp;&nbsp;";
                                }
                                <tr>
                                    <td>
                                        @Html.Raw(spaces)
                                        <input type="radio" id="product_category_@item["ID"]" name="product_search_category" value="@item["ID"]" onchange="searchCategoryChange()" />
                                        <label for="product_category_@item["ID"]">@item["NAME"]</label>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td>Số lượng hàng hóa mỗi trang</td>
                    </tr>
                    <tr>
                        <td>
                            <select id="product_page_size" class="form-control" onchange="getAllProduct();">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-9">
                <table class="table table-responsive table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="width:15%">Mã hàng hóa</th>
                            <th style="width:55%">Tên hàng</th>
                            <th style="width:10%">Giá bán</th>
                            <th style="width:10%">Giá vốn</th>
                            <th style="width:10%">Tồn kho</th>
                        </tr>
                    </thead>
                    <tbody id="dataBody"></tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" align="center" id="controller-content"></div>
                    <div class="col-md-2">
                        <label class="pull-right" id="total-content"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<div class="modal fade" id="createNewProduct" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true" style="font-family:Arial">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Thêm hàng hóa</h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <tr>
                        <td style="width:60%">
                            <table class="table no-border no-padding no-margin" style="width:100%">
                                <tr>
                                    <td class="col-lg-3" style="vertical-align:middle"><b>Mã hàng hóa</b></td>
                                    <td colspan="2"><input class="form-control" type="text" id="barcode_0" placeholder="Mã hàng tự động" /></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle"><b>Tên hàng</b></td>
                                    <td colspan="2"><input class="form-control" type="text" id="product_name" /></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle"><b>Nhóm hàng</b></td>
                                    <td>
                                        <select id="category_id" class="form-control">
                                            <option value="0" selected>-- Lựa chọn --</option>
                                            @{
                                                if (_tree.Count > 0)
                                                {
                                                    foreach (var item in _tree)
                                                    {
                                                        string spaces = "";
                                                        for (int i = 0; i < int.Parse(item["LEVEL"]); i++)
                                                        {
                                                            spaces += "&nbsp;&nbsp;&nbsp;&nbsp;";
                                                        }
                                                        <option value="@item["ID"]">
                                                            @Html.Raw(spaces) @item["NAME"]
                                                        </option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="col-lg-1">
                                        <button class="btn btn-sm" onclick="new_category();"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle"><b>Giá vốn</b></td>
                                    <td colspan="2"><input class="form-control" type="text" id="original_price" /></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle"><b>Giá bán</b></td>
                                    <td colspan="2">
                                        <input class="form-control" type="text" id="sell_price_0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align:middle"><b>Tồn kho</b></td>
                                    <td colspan="2">
                                        <input class="form-control" type="text" id="quantity" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align:top">
                            <table class="table no-border no-padding no-margin" style="width:100%">
                                <tr>
                                    <td rowspan="2" style="width:50%">
                                        <img src="" id="image_1" style="width:100%">
                                    </td>
                                    <td style="width:25%">
                                        <img src="" id="image_2" style="width:100%">
                                    </td>
                                    <td style="width:25%">
                                        <img src="" id="image_3" style="width:100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:25%">
                                        <img src="" id="image_4" style="width:100%">
                                    </td>
                                    <td style="width:25%">
                                        <img src="" id="image_5" style="width:100%">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-sm btn-success" onclick="uploadImage();">Chọn ảnh</button>
                                        <input type="file" id="imageUploader" style="display:none" onchange="previewFile()" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Đơn vị tính</h3>
                    </div>
                    <div class="panel-body">
                        <table style="width:100%">
                            <tr>
                                <td class="col-lg-3"><b>Đơn vị cơ bản</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding:0px 15px;">
                                    <input class="form-control" type="text" id="unit_name_0" />
                                    <input type="text" id="quantitiesPerUnit_0" value="1" hidden />
                                </td>
                            </tr>
                            <tr id="more_unit_space" hidden>
                                <td>&nbsp;</td>
                            </tr>
                            <tr id="more_unit" hidden>
                                <td class="col-lg-3"><b>Tên đơn vị</b></td>
                                <td class="col-lg-2"><b>Giá trị quy đổi</b></td>
                                <td class="col-lg-2"><b>Giá bán</b></td>
                                <td class="col-lg-3"><b>Mã hàng hóa</b></td>
                                <td></td>
                            </tr>
                            <tbody id="unit_table">
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0px 15px;">
                                        <button class="btn btn-sm btn-success" onclick="addUnit();"><i class="fa fa-plus"></i> Thêm đơn vị</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Định mức tồn</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td class="col-lg-2"><b>Ít nhất</b></td>
                                <td class="col-lg-4">
                                    <input id="quota_min" class="form-control" />
                                </td>
                                <td class="col-lg-2"><b>Nhiều nhất</b></td>
                                <td class="col-lg-4">
                                    <input id="quota_max" class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-success pull-right" onclick="saveNew();"><i class="fa fa-floppy-o"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createNewCategory" tabindex="-1" role="dialog" aria-labelledby="newCatModalLabel" aria-hidden="true" style="font-family:Arial">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Thêm nhóm hàng</h4>
            </div>
            <div class="modal-body">
                <table style="width:100%">
                    <tr>
                        <td class="col-lg-3"><b>Tên nhóm</b></td>
                        <td class="col-lg-9">
                            <input class="form-control" id="new_category_name" />
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-3"><b>Nhóm cha</b></td>
                        <td class="col-lg-9">
                            <select class="form-control" id="new_category_parent_id">
                                <option value="0" selected>-- Lựa chọn --</option>
                                @{
                                    if (_tree.Count > 0)
                                    {
                                        foreach (var item in _tree)
                                        {
                                            string spaces = "";
                                            for (int i = 0; i < int.Parse(item["LEVEL"]); i++)
                                            {
                                                spaces += "&nbsp;&nbsp;&nbsp;&nbsp;";
                                            }
                                            <option value="@item["ID"]">
                                                @Html.Raw(spaces) @item["NAME"]
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-success pull-right" onclick="saveCategory();"><i class="fa fa-floppy-o"></i> Lưu</button>
            </div>
        </div>
    </div>
</div>

@section MyScript {
<script>
    $(document).ready(function () {
        getAllProduct();
    });

    function searchKeyPress(e) {
        if (e.keyCode == 13) {
            getAllProduct();
            return false;
        }
    }

    function checkKeyPressPage(e) {
        if (e && e.keyCode == 13) {
            if (document.getElementById('changeCurrent') != null) {
                var toPage = document.getElementById('changeCurrent').value;
                changePage(toPage);
            }
        }
    }

    function changePage(toPage) {
        document.getElementById('changeCurrent').value = toPage;
        getAllProduct();
    }

    function searchCategoryChange() {
        var _find_items = document.getElementsByName('product_search_category');
        var _id = -1;
        if (_find_items != null && _find_items.length > 0) {
            for (var i = 0; i < _find_items.length; i++) {
                if (_find_items[i] != null && _find_items[i].id != null && _find_items[i].id.indexOf('product_category_') == 0 && _find_items[i].checked) {
                    _id = _find_items[i].value;
                    break;
                }
            }
        }
        document.getElementById('product_search_category').value = _id;
        getAllProduct();
    }

    function getAllProduct() {
        var _searchStr = "";
        if (document.getElementById("product_search") != null)
            _searchStr = document.getElementById("product_search").value;
        var _categoryId = -1;
        if (document.getElementById("product_search_category") != null)
            _categoryId = document.getElementById("product_search_category").value;
        var _page = 1;
        if (document.getElementById('changeCurrent') != null)
            _page = document.getElementById('changeCurrent').value;
        var _pageSize = 10;
        if (document.getElementById('product_page_size') != null)
            _pageSize = document.getElementById('product_page_size').value;
        $.ajax({
            type: "get",
            url: '@Url.Action("GetAllProduct", "Product")',
            data: {
                searchStr: _searchStr,
                categoryId: _categoryId,
                page: _page,
                pageSize: _pageSize
            },
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data == null) {
                    alert("Có lỗi xảy ra, vui lòng thử lại!")
                }
                else {
                    loadDataToTable(data);
                }
            },
            error: function (data) {
                alert(data);
                alert("Có lỗi xảy ra, vui lòng thử lại!")
            }
        });
    }

    function loadDataToTable(data) {
        var _innerHtml = "";
        for (var i in data.listItem) {
            _innerHtml += '<tr><td colspan="5"><table style="width:100%"><tr class="custom-hover" onclick="toggle_product_info(\'' + data.listItem[i].CODE + '\');">';
            _innerHtml += "<td style='width:15%'>" + data.listItem[i].CODE + "</td><td style='width:55%'>" + data.listItem[i].NAME + "</td>";
            _innerHtml += "<td style='width:10%;text-align:right'>" + data.listItem[i].SELL_PRICE + "</td><td style='width:10%;text-align:right'>" + data.listItem[i].ORIGINAL_PRICE + "</td>";
            _innerHtml += "<td style='width:10%;text-align:right'>" + data.listItem[i].QUANTITY + "</td></tr>";
            _innerHtml += "<tr id='product_detail_" + data.listItem[i].CODE + "' name='product_detail' hidden><td colspan='5'><table style='width:100%'><tr><td><h3>" + data.listItem[i].NAME + "</h3>";
            _innerHtml += "</td></tr><tr><td style='vertical-align:top; width:200px;'>";
            if (data.listItem[i].IMAGE_1) {
                _innerHtml += "<img id='image_preview_" + data.listItem[i].CODE + "' src='" + data.listItem[i].IMAGE_1 + "' style='width:200px;' />";
            }
            else {
                _innerHtml += "<img src='~/Styles/Images/default-product.png' style='width:200px;' />";
            }
            _innerHtml += "</td><td style='vertical-align:top; padding-left:10px; width:80px;'><table>";
            if (data.listItem[i].IMAGE_1) {
                var count = 1;
                while (data.listItem[i]["IMAGE_" + count]) {
                    _innerHtml += '<tr><td style="padding-bottom:10px;"><img src="' + data.listItem[i]["IMAGE_" + count] + '" class="custom-image-icon" onclick="changePreview(\'' + data.listItem[i].CODE + '\', this.src);" /></td></tr>';
                    count += 1;
                }
            }
            else {
                _innerHtml += "<tr><td><img src='~/Styles/Images/default-product.png' style='width:50px;' /></td></tr>";
            }
            _innerHtml += "</table></td><td style='vertical-align:top;padding-left:10px;'><table><tr>";
            _innerHtml += "<td>Mã hàng hóa</td><td style='padding-left:5px'>: <b>" + data.listItem[i].CODE + "</b></td></tr>";
            _innerHtml += "<tr><td colspan='2'><hr /></td></tr><tr><td>Nhóm hàng</td><td style='padding-left:5px'>: " + data.listItem[i].CATEGORY + "</td></tr>";
            _innerHtml += "<tr><td colspan='2'><hr /></td></tr><tr><td>Giá bán</td><td style='padding-left:5px'>: " + data.listItem[i].SELL_PRICE + "</td></tr>";
            _innerHtml += "<tr><td colspan='2'><hr /></td></tr><tr><td>Giá vốn</td><td style='padding-left:5px'>: " + data.listItem[i].ORIGINAL_PRICE + "</td></tr>";
            _innerHtml += "<tr><td colspan='2'><hr /></td></tr><tr><td>Định mức tồn</td><td style='padding-left:5px'>: " + data.listItem[i].ORIGINAL_PRICE + "</td></tr></table></td></tr>";
            _innerHtml += "<tr><td colspan='5'><button class='btn btn-default pull-right' style='margin-left:10px;' onclick='print_barcode();'><i class='fa fa-barcode'></i> In mã vạch</button>";
            _innerHtml += "<button class='btn btn-success pull-right' style='margin-left:10px;' onclick='edit_product();'><i class='fa fa-edit'></i> Cập nhật</button></td></tr></table></td></tr></table></td></tr>";
        }
        document.getElementById("dataBody").innerHTML = _innerHtml;

        _innerHtml = "";
        if (document.getElementById('total-content') != null)
            document.getElementById('total-content').innerHTML = "Tổng số : " + data.totalItem;

        var _pageCount = Math.ceil(data.totalItem / data.pageSize);
        if (document.getElementById('controller-content') != null) {
            var _innercontrol = "";
            if (data.currentPage > 1) {
                _innercontrol += "<img src='@Url.Content("~/Styles/Images/first-left.png")' onclick='changePage(1);' /><img src='@Url.Content("~/Styles/Images/previous-left.png")'  onclick='changePage(";
                _innercontrol += data.currentPage - 1;
                _innercontrol += ");'/>";
            }
            _innercontrol += "Trang <input id='changeCurrent' align='right' style='width:30px' value='";
            _innercontrol += data.currentPage;
            _innercontrol += "' onkeypress='checkKeyPressPage(event)' />/ ";
            _innercontrol += _pageCount;
            if (data.currentPage < _pageCount) {
                _innercontrol += "<img src='@Url.Content("~/Styles/Images/next-right.png")' onclick='changePage(";
                _innercontrol += data.currentPage + 1;
                _innercontrol += ");' /><img src='@Url.Content("~/Styles/Images/last-right.png")' onclick='changePage(";
                _innercontrol += _pageCount;
                _innercontrol += ");' />";
            }

            document.getElementById('controller-content').innerHTML = _innercontrol;
        }
    }

    function new_product() {
        $("#createNewProduct").modal('show');
    }

    function new_category() {
        $("#createNewCategory").modal('show');
    }

    function uploadImage() {
        document.getElementById("imageUploader").click();
    }

    function previewFile() {
        var count = 1;
        while (document.getElementById('image_' + count) != null && document.getElementById('image_' + count).src.length > 1000) {
            count++;
        }
        if (count > 5)
            return;

        var files = document.getElementById('imageUploader').files;
        if (files.length > 0) {
            var preview = document.getElementById('image_' + count);
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.src = reader.result;
            }, false);

            if (files[0]) {
                reader.readAsDataURL(files[0]);
            }
        }
    }

    function toggle_product_info(product_code) {
        if (document.getElementById("product_detail_" + product_code).hidden == false)
            document.getElementById("product_detail_" + product_code).hidden = true;
        else {
            collapseAll();
            document.getElementById("product_detail_" + product_code).hidden = false;
        }
    }

    function collapseAll() {
        var _all_product_detail = document.getElementsByName("product_detail");
        for (var i in _all_product_detail) {
            if (_all_product_detail[i])
                _all_product_detail[i].hidden = true;
        }
    }

    function changePreview(product_code, image_src) {
        document.getElementById("image_preview_" + product_code).src = image_src;
    }

    function export_product() {
        window.location = '@Url.Action("ExportProducts", "Product")';
    }

    function saveNew() {
        var _name = document.getElementById("product_name").value;
        var _category_id = document.getElementById("category_id").value;
        var _original_price = document.getElementById("original_price").value;
        var _quantity = document.getElementById("quantity").value;
        var _quota_min = document.getElementById("quota_min").value;
        var _quota_max = document.getElementById("quota_max").value;

        var count = 0;
        var _barcodes = [], _unit_names = [], _quantitiesPerUnit = [], _sell_price = [];
        while (document.getElementById("barcode_" + count) != null) {
            _barcodes[count] = document.getElementById("barcode_" + count).value;
            _unit_names[count] = document.getElementById("unit_name_" + count).value;
            _quantitiesPerUnit[count] = document.getElementById("quantitiesPerUnit_" + count).value;
            _sell_price[count] = document.getElementById("sell_price_" + count).value;
            count += 1;
        }

        count = 1;
        var _img = [];
        while (document.getElementById("image_" + count) != null && document.getElementById("image_" + count).src.length > 1000) {
            _img[count - 1] = document.getElementById("image_" + count).src;
            count += 1;
        }
        $.ajax({
            type: "post",
            url: '@Url.Action("CreateNewProduct", "Product")',
            data: {
                name: _name,
                category_id: _category_id,
                original_price: _original_price,
                quantity: _quantity,
                quota_min: _quota_min,
                quota_max: _quota_max,
                barcode: _barcodes,
                unit_name: _unit_names,
                quantitiesPerUnit: _quantitiesPerUnit,
                sell_price: _sell_price,
                img: _img
            },
            cache: false,
            dataType: 'text',
            success: function (data) {
                if (data == null) {
                    alert("Có lỗi xảy ra, vui lòng thử lại!")
                }
                else {
                    if (data.indexOf("ERR:") == 0)
                        alert(data.replace("ERR:", ""));
                    else
                        location.reload();
                }
            },
            error: function (data) {
                alert("Có lỗi xảy ra, vui lòng thử lại!")
            }
        });
    }

    function addUnit() {
        if (document.getElementById("unit_name_0").value.length == 0) {
            alert("Cần nhập tên đơn vị cơ bản trước");
            return;
        }

        var count = 1;
        while (document.getElementById("unit_" + count) != null) {
            count += 1;
        }

        _inner_html = "<td class='col-lg-3'><input class='form-control' type='text' id='unit_name_" + count + "' /></td>";
        _inner_html += "<td class='col-lg-2'><input class='form-control' type='text' id='quantitiesPerUnit_" + count + "' value='1' onchange='changeSellPrice(" + count + ")' /></td>";
        _inner_html += "<td class='col-lg-2'><input class='form-control' type='text' id='sell_price_" + count + "' value='" + document.getElementById("sell_price_0").value + "' /></td>";
        _inner_html += "<td class='col-lg-3'><input class='form-control' type='text' placeholder='Mã hàng tự động' id='barcode_" + count + "' /></td>";
        _inner_html += "<td><button id='btn_remove_" + count + "' class='btn btn-sm' onclick='remove_unit(" + count + ")'><i class='fa fa-close'></i></button></td>";
        var _tr_node = document.createElement("tr");
        _tr_node.id = "unit_" + count;
        _tr_node.innerHTML = _inner_html;
        document.getElementById("more_unit").hidden = false;
        document.getElementById("more_unit_space").hidden = false;
        document.getElementById("unit_table").appendChild(_tr_node);
    }

    function remove_unit(unit_id) {
        var node = document.getElementById("unit_" + unit_id);
        node.parentNode.removeChild(node);

        var count = unit_id + 1;
        while (document.getElementById("unit_" + count) != null) {
            var new_id = count - 1;
            document.getElementById("unit_" + count).id = "unit_" + (new_id);
            document.getElementById("unit_name_" + count).id = "unit_name_" + (new_id);
            document.getElementById("quantitiesPerUnit_" + count).id = "quantitiesPerUnit_" + (new_id);
            document.getElementById("sell_price_" + count).id = "sell_price_" + (new_id);
            document.getElementById("barcode_" + count).id = "barcode_" + (new_id);
            document.getElementById("btn_remove_" + count).setAttribute("onClick", "javascript: remove_unit(" + (new_id) + ");");
            document.getElementById("btn_remove_" + count).id = "btn_remove_" + (new_id);
            count += 1;
        }

        if (document.getElementById("unit_1") == null) {
            document.getElementById("more_unit").hidden = true;
            document.getElementById("more_unit_space").hidden = true;
        }
    }

    function changeSellPrice(unit_id) {
        document.getElementById("sell_price_" + unit_id).value = document.getElementById("quantitiesPerUnit_" + unit_id).value * document.getElementById("sell_price_0").value;
    }

    function saveCategory() {
        var _name = document.getElementById("new_category_name").value;
        if (_name.length > 0) {
            var _parent_id = document.getElementById("new_category_parent_id").value;
            $.ajax({
                type: "post",
                url: '@Url.Action("CreateNewCategory", "Product")',
                data: {
                    name: _name,
                    parent_id: _parent_id
                },
                cache: false,
                dataType: 'text',
                success: function (data) {
                    if (data == null) {
                        alert("Có lỗi xảy ra, vui lòng thử lại!")
                    }
                    else {
                        if (data.indexOf("ERR:") == 0)
                            alert(data.replace("ERR:", ""));
                        else
                            alert(data);
                    }
                },
                error: function (data) {
                    alert("Có lỗi xảy ra, vui lòng thử lại!")
                }
            });
        }
        else {
            alert("Chưa điền tên nhóm hàng !");
            document.getElementById("new_category_name").focus();
        }
    }

    function print_barcode() {
        // PHUONGNN - TODO
    }
</script>
}
